<div class="message mt-4">
  <div class="message-content" data-controller="mark-complete">
    <div class="message-header">
      <div class="message-img">
        <%= image_tag message.user.image %>
      </div>
      <div class="message-name"><%= link_to message.user.nickname, user_path(message.user.id) %> (Batch #<%= message.user.batch %>)</div>
      <div class="message-time">
        <%=distance_of_time_in_words(Time.now, message.created_at)%>
      </div>
    </div>
    <div class="message-body">
      <div id="message-<%= message.id %>">
        <div class="trix-content"><%= message.content %></div>
      </div>
      <br>
      <div>
        <strong><p><%= pluralize( message.favourites.count, "person") %> found this useful!</p></strong>
      </div>
    </div>
    <div class="message-actions" id="pinColor">
      <% unless current_user.favourite_messages.include?(message) %>
        <div class="btn-primary">
          <%= link_to "ðŸ‘",  message_favourites_path(message), data: { controller: "confetti", mark_complete_target: "like", confetti_follow_value: false, confetti_animation_value: "basic", action: "click->confetti#spray click->mark-complete#markComplete" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
