<%
  set_meta_tags(
  title: "Create a new account | LeChariot",
  description: "Sign up to LeChariot. Create a new account to get help with your coding queries.",
  )
%>
<div class="container mt-4 pt-4 col-6">
  <div class="row mb-2">
    <h2>Sign up</h2>
    <div class="github mt-2 mb-2">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= button_to omniauth_authorize_path(resource_name, provider),
                        data: { turbo: false },
                        :class => "btn btn-primary col-12" do %>
            Sign up with GitHub <i class="fa-brands fa-github"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="row mx-0 my-2">
      <div class="col"><hr></div>
      <div class="col-auto">or</div>
      <div class="col"><hr></div>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first name" } %>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last name" } %>
        <%= f.input :nickname,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "nickname" } %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :batch,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "batch number" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", :class => "btn btn-primary col-12" %>
      </div>
    <% end %>
    <div class="py-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
