<div class="issue-list">
  <div data-controller="search-issues">
    <div class="issue-top mx-3 w-100 position-relative">
      <h4>Open questions</h4>
      <%= link_to "Create new issue", new_channel_issue_path(@channel), class: "create-new" %>
    </div>
    <%= form_with url: channel_issues_path(@channel), method: :get, html: {class:"d-flex search-bar mx-3", data: {search_issues_target: "form"}} do |form| %>
      <%= form.text_field :query,
        placeholder: "Filter issues",
        class: "form-control",
        value: params[:query],
        data: {
          search_issues_target: "input",
          action: "keyup->search-issues#update"
        } %>
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
    <%= render "issues/list", issues: @issues %>
  </div>
</div>
