<!-- Languages column -->
<div class="">
  <div class="row">
    <div class="col-1 bg-dark p-3 border-right border-black">
      <div class="d-flex justify-content-center">
        <img src="<%= image_path('js.png') %>" alt="logo" class="rounded border border-white" width="50px" height="50px">
      </div>
    </div>
    <!-- Issues column -->
    <%= render partial: "channels/index", locals: {channel: @channel} %>
    <!-- Messages column -->
  </div>
  <div class="col-8 chatroom-border">
    <div class="container">
      <div data-controller="issue-subscription" data-issue-subscription-issue-id-value="<%= @issue.id %>">
        <h3 class="mt-2">#<%= @issue.title %></h3>
        <div class="message-list">
          <div class="messages" data-issue-subscription-target="messages">
            <% @issue.messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %>
          </div>
        </div>
        <div class="message-input">
          <%= simple_form_for [@issue, @message], html: { data: { action: "turbo:submit-end->issue-subscription#resetForm" }, class: "d-flex" } do |f| %>
            <%= f.input :content,
              label: false,
              placeholder: "Message ##{@issue.title}",
              wrapper_html: {class: "flex-grow-1"}
            %>
            <%= f.submit "Send", class: "btn btn-primary mb-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
