<%
  set_meta_tags(
  title: "#{@user.nickname} Profile | Le Chariot",
  description: "Learn more about #{@user.nickname}. See what questions they asked and answered.",
  )
%>
<div class="container mt-4 pt-4">
  <div class="row m-0 p-0">
    <div class="mb-4 pb-4">
      <div class="d-flex">
        <%= image_tag @user.image, :class => "avatar-profile" %>
        <div class="ms-4 pt-2">
          <h1><strong><%= @user.nickname %></strong></h1>
          <li><i class="fa-solid fa-code"></i> Batch: <%= @user.batch %></li>
          <% if @user.provider != nil %>
            <li><i class="fa-brands fa-github"></i> GitHub profile: <%= link_to @user.nickname, "https://www.github.com/#{@user.nickname}", target: "_blank" %></li>
            <li><i class="fa-solid fa-pencil"></i> Description: <%= @user.description %> </li>
          <% end %>
        </div>
        <div class="profile-edit ms-auto p-2">
          <% if current_user == @user %>
            <%= link_to "Edit", edit_user_registration_path, :class => "btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <nav>
      <div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Questions asked (<%= @user.issues.count %>) </button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Questions answered (<%= @user.messages.count %>)</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <% @user.issues.reverse.each do |issue| %>
          <%= link_to channel_path(issue.channel), class: "issues-card-link col-4" do %>
            <div class="<%= ["wide", "yellow", "pink"].sample %> m-4 p-4 d-flex flex-column">
              <div class="card-nav mb-auto">
                <div class="header">ISSUE</div>
                <h2 class="title"><%= issue.title  %></h2>
              </div>
              <div class="content me-5">
                <p><%= issue.description  %>.</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <% @user.messages.reverse.each do |message| %>
          <%= link_to channel_path(message.issue.channel), class: "issues-card-link col-4" do %>
            <div class="<%= ["wide", "yellow", "pink"].sample %> m-2 p-4 d-flex flex-column">
              <div class="card-nav mb-auto">
                <div class="header"><%= message.issue.title %></div>
                <h2 class="title"><%= message.content  %>.</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
