<!-- Languages column -->
<div class="row"
  data-controller="issues-messages"
  >
  <div class="col-1 bg-dark p-3 border-right border-black">
    <div class="d-flex justify-content-center">
       <%= render "channels/index" %>
    </div>
  </div>
  <!-- Issues list column -->
  <div class="col-2 bg-light issue-column">
    <div class="container-fluid">
      <div class="row">
        <%= render "issues/index" %>
          <!-- The active issue class will be assigned based on click - stimulus controller required, attach controller to list -->
      </div>
    </div>
  </div>
  <!-- Issue messages column -->
  <div class="col-8"
        data-issues-messages-target="messages">
    <%= render "issues/show" %>
  </div>
</div>

    <%# Pin something layout %>
    <%# <%= javascript_tag pin_it_js %>
    <%# <%= pin_it_button media: image_url(@photo.url), %>
                  <%# description: @photo.description, %>
                  <%# url: photo_url(@photo) %>
