<!DOCTYPE html>
<html>
  <head>
    <meta property="og:image" content="/app/assets/images/lechariot_opengraph.png"/>
    <meta property="og:title" content="Le Chariot | Ask technical questions, get helpful answers"/>
    <meta property="og:description" content="Ask technical questions, get helpful answers even after the coding bootcamp with Le Chariot"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <%= display_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body data-controller="dark-mode">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" unless @disable_footer %>
  </body>
</html>
