<!DOCTYPE html>
<html>
  <head>
    <meta property="og:image" content="https://res.cloudinary.com/dl0lttme2/image/upload/v1678883745/lechariot_opengraph_e7jwbf.png"/>
    <meta property="og:title" content="LeChariot | Ask technical questions, get helpful answers"/>
    <meta property="og:description" content="Ask technical questions, get helpful answers even after the coding bootcamp with LeChariot"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= root_url %>"/>
    <%= display_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body data-controller="dark-mode">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" unless @disable_footer %>
  </body>
</html>
